html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Verdana, san-serif;
  overflow-y: hidden;
}

/* Header */

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
  background: -webkit-linear-gradient(top, #FFF, #EEE);
  background: -moz-linear-gradient(top, #FFF, #EEE);
  background: -ms-linear-gradient(top, #FFF, #EEE);
  background: -o-linear-gradient(top, #FFF, #EEE);
  background: linear-gradient(top, #FFF, #EEE);
  border-bottom: 1px solid #E4E4E4;
  height: 60px;
  text-align: center;
}

#logo {
  left: 25px;
  position: absolute;
}

#title {
  display: block;
  color: #999;
  font-size: 160%;
  line-height: 60px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(20, 20, 20, 0.3);
}

/* Button Icons */
/* normal: #8c8c8c, hover: #7f7f7f, active: #727272 */

#buttons {
  position: absolute;
  right: 25px;
  top: 17px;
}

#button-languages {
  background-image: url('../images/lambda.png') !important;
}

#button-languages:hover {
  background-image: url('../images/lambda-hover.png') !important;
}

#button-languages:active {
  background-image: url('../images/lambda-active.png') !important;
}

#button-examples {
  background-image: url('../images/eg.png') !important;
}

#button-examples:hover {
  background-image: url('../images/eg-hover.png') !important;
}

#button-examples:active {
  background-image: url('../images/eg-active.png') !important;
}

#button-save {
  background-image: url('../images/link.png') !important;
}

#button-save:hover {
  background-image: url('../images/link-hover.png') !important;
}

#button-save:active {
  background-image: url('../images/link-active.png') !important;
}

#button-help {
  background-image: url('../images/question.png') !important;
}

#button-help:hover {
  background-image: url('../images/question-hover.png') !important;
}

#button-help:active {
  background-image: url('../images/question-active.png') !important;
}

#editor-run {
  background: white;
  background-image: url('../images/run.png') !important;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

#editor-run:hover {
  background-image: url('../images/run-hover.png') !important;
}

#editor-run:active {
  background-image: url('../images/run-active.png') !important;
}

/* Content */

#content {
  background: #FFF;
  margin: 0 auto;
  height: 672px;
  width: 1200px;
  position: relative;
}

#content-languages, #content-examples, #content-save, #content-help, #content-about {
  background: #FFF;
  margin: 0 auto;
  height: 672px;
  width: 1200px;
  position: relative;
  display: none;
}

/* Editor */

#editor {
  background: #FFF;
  width: 591px;
  position: absolute;
  height: 100%; 
  left: 8px;
  bottom: 0;
}

#editor-widget {
  position: relative;
  width: 100%;
  height: 100%;
}

.ace_gutter {
  max-width: 2.25em !important;
}

/* Resizers */

#resize-left {
  border-right: 1px solid #DDD;
  background: -webkit-gradient(linear,left top ,  right top, from(#FFF), to(#E8E8E8));
  background: -webkit-linear-gradient(left, #FFF, #E8E8E8);
  background: -moz-linear-gradient(left, #FFF, #E8E8E8);
  background: -ms-linear-gradient(left, #FFF, #E8E8E8);
  background: -o-linear-gradient(left, #FFF, #E8E8E8);
  background: linear-gradient(left, #FFF, #E8E8E8);
  width: 8px;
  cursor: w-resize;
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 1;
}

#resize-center {
  z-index: 1;
  width: 8px;
  cursor: col-resize;
  background: -webkit-gradient(linear, left top, right top, from(black), to(#0E1628));
  background: -webkit-linear-gradient(left, black, #0E1628);
  background: -moz-linear-gradient(left, black, #0E1628);
  background: -ms-linear-gradient(left, black, #0E1628);
  background: -o-linear-gradient(left, black, #0E1628);
  background: linear-gradient(left, black, #0E1628);
  position: absolute;
  height: 100%;
  left: 600px;
}

#resize-right {
  border-left: 1px solid #DDD;
  background: -webkit-gradient(linear, left top, right top, from(#CCC), to(white));
  background: -webkit-linear-gradient(left, #CCC, white);
  background: -moz-linear-gradient(left, #CCC, white);
  background: -ms-linear-gradient(left, #CCC, white);
  background: -o-linear-gradient(left, #CCC, white);
  background: linear-gradient(left, #CCC, white);
  width: 8px;
  cursor: e-resize;
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 1;
}

#unhide-left {
  width: 21px;
  height: 21px;
  background: url(../images/arrow-left.png);
  position: absolute;
  top: 45%;
  right: 16px;
  display: none;
  z-index: 9;
  cursor:pointer;
}

#unhide-right {
  width: 21px;
  height: 21px;
  background: url(../images/arrow-right.png);
  position: absolute;
  left: 10px;
  top: 45%;
  z-index: 9;
  display: none;
  cursor:pointer;
}

/* Console */

#console {
  background: green;
  background: #0E1628;
  width: 591px;
  position: absolute;
  right: 8px;
  bottom: 0;
  height: 100%;
}

#console *::selection, #console *::-moz-selection, #console *::-webkit-selection {
  background: #94A2BB;
}

#throbber {
  position: absolute;
  left: 44%;
  top: 44%;
  background: url(../images/loading.gif);
  width: 64px;
  height: 64px;
  display: none;
}

.jqconsole {
  width: 561px;
  height: 642px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #F4FFFF;
  display: block;
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  /* Force word wrap on all browsers. */
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -o-pre-wrap; /* Opera */
  white-space: -pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 (Candidate) */
  word-wrap: break-word; /* IE 5.5+ */
}

.jqconsole-blurred {
  color: #C4CCCC;
}

.jqconsole-prompt {
  font-weight: bold;
  color: #FC0;
  background: url(../images/dots-yellow.png) 3px 1px no-repeat;
}

.jqconsole-blurred .jqconsole-prompt {
  color: #B91;
  background: url(../images/dots-yellow-faded.png) 3px 1px no-repeat;
}

.jqconsole-old-prompt {
  font-weight: bold;
  color: #F60;
  background: url(../images/dots-orange.png) 3px 1px no-repeat;
}

.jqconsole-blurred .jqconsole-old-prompt {
  color: #B41;
  background: url(../images/dots-orange-faded.png) 3px 1px no-repeat;
}

.jqconsole-cursor {
  background: #666;
  line-height: 100%;
}

.jqconsole-blurred .jqconsole-cursor {
  background: #333;
}

.error {
  color: #F06;
  display: block;
}

.jqconsole-blurred .error {
  color: #B14;
}

.result {
  color: #6F0;
  display: block;
}

.jqconsole-blurred .result {
  color: #4A1;
}

.matching-1, .matching-2, .matching-3, .matching-4 {
  color: #B3B;
}

.jqconsole-blurred .matching-1, .jqconsole-blurred .matching-2,
.jqconsole-blurred .matching-3, .jqconsole-blurred .matching-4 {
  color: #808;
}

/* Footer */

#footer {
  bottom: 0;
  width: 100%;
  height: 30px;
  background: url(../images/footer.png) repeat-x;
  text-align: center;
  line-height: 30px;
}

#social {
  height: 24px;
  width: 50%;
  float: left;
  padding-top: 6px;
  text-align: center;
}

#social-buttons-container {
  height: 20px;
  line-height: 20px;
  width: 60%;
  margin: auto;
}

.social_button {
  display: inline-block !important;
  float: left !important;
}

#links {
  height: 30px;
  line-height: 30px;
  width: 50%;
  float: right;
}

#links a, #links a:visited {
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: 0 -1px 0 #000;
  -webkit-transition: 200ms;
  -moz-transition-duration:200ms;
}

#links a:hover, #links a:active, #links a:focus {
  color: #FFF;
  text-shadow: 0 -1px 0.3em #C5C5C5;
}

/* Button Styles */

.button {
  cursor: pointer;
  color: #6e6e6e;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 14px 19px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  background: #f3f3f3;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background-repeat: no-repeat !important;
  background-position: center center !important;
  border: solid 1px #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 10px;
}

.button:hover {
  color: #333;
  border-color: #999;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.button:active {
  color: #000;
  border-color: #444;
}

.button.left {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.button.middle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-left: solid 1px #f3f3f3;
  margin: 0;
  border-left: solid 1px rgba(255, 255, 255, 0);
}

.button.right {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  border-left: solid 1px #f3f3f3;
}

.button.middle:hover, .button.right:hover {
  border-left: solid 1px #999;
}

/* Language Selector */

#content-languages {
  color: #444;
}

.language-group {
  width: 50%;
  float: left;
  padding-top: 6%;
  padding-bottom: 4%;
}

.language-group-header {
  padding-left: 15px;
  padding-right: 30px;
  margin-left: 8%;
  font-size: 115%;
  border-bottom: 1px #999 solid;
  display: block;
  margin-right: 8%;
  padding-bottom: 5px;
  background: url(../images/dots.png) -1px 4px no-repeat;
}

.language-group ul {
  padding-top: 5px;
  line-height: 32px;
  margin-left: 8%;
  margin-right: 8%;
}

.language-group li {
  padding-left: 16px;
  cursor: pointer;
  border: 1px transparent solid;
  border-radius: 20px;
}

.language-group li:hover {
  color: #111;
  text-shadow: 0 2px 0px rgba(240, 240, 240, 0.5);
  background: #ddd;
}

.language-group em {
  border-bottom: 1px #666 solid;
  font-weight: bold;
}

/* Examples Preview */

#content-examples {
  color: #444;
  position: relative;
}

.example-group {
  width: 50%;
  float: left;
  cursor: pointer;
}

#examples-separator {
  height: 88%;
  position: absolute;
  left: 50%;
  top: 6%;
  width: 1px;
  background: #ccc;
}

#examples-back, #about-back, #help-back {
  background: url(../images/close.png) center center no-repeat;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  cursor: pointer;
}

#examples-back:hover, #about-back:hover, #help-back:hover {
  background: url(../images/close-hover.png) center center no-repeat;
}

.example-l-2-1 {
  margin-top: 6%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.example-l-2-2 {
  height: 50%;
  position: absolute;
  left: 0;
  top: 38px;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#whiteSmoke),to(#F1F1F1));
  border: 1px solid #999;
}
.example-r-2-1 {
  margin-top: 6%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
}
.example-r-2-2 {
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}
.example-r-3-1 {
  margin-top: 6%;
  height: 33.333%;
  position: absolute;
  left: 50%;
  top: 0;
}
.example-r-3-2 {
  height: 33.333%;
  position: absolute;
  left: 50%;
  top: 33.333%;
}
.example-r-3-3 {
  height: 33.333%;
  position: absolute;
  left: 50%;
  top: 66.666%;
}

.example-group-header {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 30px;
  padding-bottom: 5px;
  margin-left: 8%;
  font-size: 115%;
  display: block;
  margin-right: 8%;
  background: url(../images/dots.png) 19px 24px no-repeat;
  border: 1px transparent solid;
  border-bottom: 1px #999 solid;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.example-group code {
  padding-top: 5px;
  line-height: 22px;
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 36px;
  padding-bottom: 20px;
  border: 1px transparent solid;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  white-space: pre;
}

.example-group:hover code, .example-group:hover .example-group-header {
  color: #111;
  text-shadow: 0 2px 0px rgba(240, 240, 240, 0.5);
  background-color: #ddd;
}

/* Syntax Higlighthing (from pygments) */

code .c { color: #60a0b0; font-style: italic } /* Comment */
code .err { border: 1px solid #FF0000 } /* Error */
code .k { color: #007020; font-weight: bold } /* Keyword */
code .o { color: #666666 } /* Operator */
code .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
code .cp { color: #007020 } /* Comment.Preproc */
code .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
code .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
code .gd { color: #A00000 } /* Generic.Deleted */
code .ge { font-style: italic } /* Generic.Emph */
code .gr { color: #FF0000 } /* Generic.Error */
code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
code .gi { color: #00A000 } /* Generic.Inserted */
code .go { color: #808080 } /* Generic.Output */
code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
code .gs { font-weight: bold } /* Generic.Strong */
code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
code .gt { color: #0040D0 } /* Generic.Traceback */
code .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
code .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
code .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
code .kp { color: #007020 } /* Keyword.Pseudo */
code .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
code .kt { color: #902000 } /* Keyword.Type */
code .m { color: #40a070 } /* Literal.Number */
code .s { color: #4070a0 } /* Literal.String */
code .na { color: #4070a0 } /* Name.Attribute */
code .nb { color: #007020 } /* Name.Builtin */
code .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
code .no { color: #60add5 } /* Name.Constant */
code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
code .ni { color: #d55537; font-weight: bold } /* Name.Entity */
code .ne { color: #007020 } /* Name.Exception */
code .nf { color: #06287e } /* Name.Function */
code .nl { color: #002070; font-weight: bold } /* Name.Label */
code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
code .nt { color: #062873; font-weight: bold } /* Name.Tag */
code .nv { color: #bb60d5 } /* Name.Variable */
code .ow { color: #007020; font-weight: bold } /* Operator.Word */
code .w { color: #bbbbbb } /* Text.Whitespace */
code .mf { color: #40a070 } /* Literal.Number.Float */
code .mh { color: #40a070 } /* Literal.Number.Hex */
code .mi { color: #40a070 } /* Literal.Number.Integer */
code .mo { color: #40a070 } /* Literal.Number.Oct */
code .sb { color: #4070a0 } /* Literal.String.Backtick */
code .sc { color: #4070a0 } /* Literal.String.Char */
code .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
code .s2 { color: #4070a0 } /* Literal.String.Double */
code .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
code .sh { color: #4070a0 } /* Literal.String.Heredoc */
code .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
code .sx { color: #c65d09 } /* Literal.String.Other */
code .sr { color: #235388 } /* Literal.String.Regex */
code .s1 { color: #4070a0 } /* Literal.String.Single */
code .ss { color: #517918 } /* Literal.String.Symbol */
code .bp { color: #007020 } /* Name.Builtin.Pseudo */
code .vc { color: #bb60d5 } /* Name.Variable.Class */
code .vg { color: #bb60d5 } /* Name.Variable.Global */
code .vi { color: #bb60d5 } /* Name.Variable.Instance */
code .il { color: #40a070 } /* Literal.Number.Integer.Long */

/* Help */

#content-help {
  color: #555;
  position: relative;
}

#help-faq {
  position: absolute;
  top: 5%;
  height: 86.5%;
  width: 50%;
  padding-bottom: 40px;
}

#help-faq-content {
  overflow-y: auto;
  height: 90%;
  position: relative;
}

.faq-question {
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}

.faq-question:before {
  content: 'Q. ';
  position: absolute;
  left: 20px;
}

.faq-answer {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#help-shortcuts {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 100%;
  width: 50%;
}

#help-header {
  text-align: center;
  text-shadow: 0px 2px 0px rgba(220, 220, 220, 1);
  font-size: 120%;
  color: #777;
  margin-bottom: 20px;
}

#help-faq a:link, #help-faq a:visited {
  color: #4183C4;
  text-decoration: none;
}

#help-faq a:hover, #help-faq a:focus, #help-faq a:active {
  text-decoration: underline;
}

#help-shortcuts-content {
  padding-left: 40px;
  padding-top: 80px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#help-shortcuts-content .shortcut {
  width: 6em;
  text-align: right;
  display: inline-block;
  line-height: 40px;
  margin-right: 5px;
}

#help-shortcuts-content kbd {
  padding: 2px 4px;
  background: #333;
  border: 1px transparent solid;
  border-radius: 2px;
  color: #fff;
  font-family: monospace;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

#help-shortcuts-content kbd em {
  color: #999;
  padding: 0px 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

/* About Us */

#content-about {
  color: #555;
  width: 500px;
  height: 602px;
  padding: 40px;
}

#content-about p {
  margin: 1em 0;
  text-align: justify;
}

#content-about img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  top: 3px;
}

#content-about a:link, #content-about a:visited {
  color: #4183C4;
  text-decoration: none;
}

#content-about a:hover, #content-about a:focus, #content-about a:active {
  text-decoration: underline;
}

/* Save */

#save-box {
  height: 40px;
  width: 181px;
  border: 1px #ccc solid;
  position: absolute;
  top: 51px;
  right: 10px;
  z-index: 10;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: none;
}

#save-box-handle {
  background: url(/images/triangle.png) ;
  position: absolute;
  top: -10px;
  right: 73px;
  height: 10px;
  width: 21px;
  z-index: 11;
}

#save-box label {
  color: #333;
  font-size: 75%;
  position: relative;
  top: -2px;
}

#save-box img {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

#save-box input {
  border: 1px #ccc solid;
  padding: 2px;
  width: 180px;
  color: #666;
}
