html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main_logo, #lang_logo {
  position: absolute;
  top: 1em;
}

#main_logo {
  left: 15px;
}

#lang_logo {
  right: 15px;
}

#content {
  position: relative;
}

#languages, #examples {
  float: left;
}

#new {
  float: right;
}
#console {
  position: absolute;
  bottom:0;
  right:0;
}

.jqconsole {
  padding:15px;
  position: absolute;
  bottom:0;
  right:0;
  background-color: #0E1628;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  bottom: 0;
  color: #EFF;
  display: block;
  font-family: monospace;
  font-size: 14px;
  margin: 0;
  overflow: auto;
  /* Force word wrap on all browsers. */
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -o-pre-wrap; /* Opera */
  white-space: -pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 (Candidate) */
  word-wrap: break-word; /* IE 5.5+ */
}

.jqconsole-header {
  display: block;
  padding-bottom: 15px;
}

.jqconsole-prompt {
  font-weight: bold;
  color: #FC0;
}

.jqconsole-old-prompt {
  font-weight: bold;
  color: #F60;
}

.jqconsole-blurred .jqconsole-prompt {
  color: #B91;
  font-weight: bold;
}

.jqconsole-cursor {
  background: #666;
  line-height: 100%;
}

.jqconsole-blurred .jqconsole-cursor {
  background: #333;
}

.error {
  color: #F06;
  display: block;
}

.result {
  color: #6F0;
  display: block;
}

.matching-1 {
  color: #00FFFF;  /* #0BD */
}
.matching-2 {
  color: #FF00FF;
}
.matching-3 {
  color: #FFFF00;
}
#facebox .content.languages{
  width: 700px;
}
#facebox .content.languages h2{
  text-align: center;
}
#facebox .content.languages .category{
  float:left;
  padding-left:100px;
  padding-right:100px;
}

#facebox .content.languages .category span{
  color: red;
  text-decoration: underline;
}

#editor-container {
  position: absolute;
  bottom:0;
  left:0;
  margin-top:10px;
}

#editor{
  position: relative;
  width: 10px;
  height: 10px;
}

#header{
  background: -webkit-linear-gradient(top,#45484D 0,black 100%);
  height:50px;
}
#logo{
  float:left;
  background: url(../images/g40.png) no-repeat 0 25%;
  width: 200px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  margin-left: 14px;
  padding-top: 6px;
  padding-right:30px;
}
.button{
  display:block;
  padding:15px;
  
background: -webkit-linear-gradient(top,#CB4B16,#964B16); color: white; text-decoration: none; font: bold 13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; border: 1px solid #964B16; border-bottom: 1px solid #964B16; -webkit-border-radius: 12px; height: 11px; margin-top: 2px; text-align: center; line-height: 11px; }
.actions{
  float:left;
}
.actions ul{
  list-style:none;
}
.actions ul li{
  float:left;
  padding-right:10px;
}
#control {
  height:30px;
  background:gray;
}
#control ul a.button{
  height:10px;
  padding:7px;
  float:left;
  background: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  -webkit-border-radius:2px;
  margin-left:10px;
}
#resize{
  width: 8px;
  height: 97%;
  padding: 5px 0;
  cursor: col-resize;
  position: absolute;
  left: 0;
  background: #222;
}
